<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center">
  <div class="row w-100 rounded-4 shadow overflow-hidden" style="max-width: 900px; height: 70%;">

    <!-- Formulario -->
    <div class="col-12 col-md-6 d-flex flex-column align-items-center justify-content-center p-5 bg-white">
      <h1 class="mb-4 fs-2 text-center">Inicio de Sesión</h1>

      <div class="input-group mb-3">
        <span class="input-group-text bg-secondary bg-gradient"><mat-icon style="color: #D9D9D9;">person</mat-icon></span>
        <input type="text" class="form-control" placeholder="Usuario">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text bg-secondary bg-gradient"><mat-icon style="color: #D9D9D9;">lock</mat-icon></span>
        <input type="password" class="form-control" placeholder="Contraseña">
      </div>

      <div class="w-100 mb-3 text-end">
        <a href="#" class="text-decoration-none small">¿Olvidaste tu contraseña?</a>
      </div>

      <button class="btn btn-success w-100 fs-5">Iniciar sesión</button>
    </div>

    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center bg-primary bg-gradient text-white p-4">
      <div class="bg-white d-flex align-items-center justify-content-center rounded-circle" style="width: 70%; aspect-ratio: 1 / 1;">
        <h1 class="text-dark m-0">Logo</h1>
      </div>
    </div>

  </div>
</div>